*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Halvetica', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-size: 100%;
}

hr{
  max-width: 700px;
  margin: auto;
}
.post_input_section {
  width: 90%;

  margin: 10px auto;
  text-align: left;
}
li {
  text-align: left;
}

/* Navbar */

.navbar-brand.mb-0.h1 {
  font-family: 'Fondamento', cursive;

  font-size: 2rem;
}

.feedHeader {
  font-family: 'Fondamento', cursive;

  font-weight: bold;
  font-size: 2rem;
  margin: 40px auto;
  text-align: center;
}

.newPostHeader {
  text-align: center;
  margin: 10px;
  font-size: 1.5rem;
}

.newPost {
  max-width: 600px;

  border-radius: 25px;
  border-style: solid gray;
  margin: auto;
  text-align: center;
  padding: 25px;
  margin-top: 30px;
}

.textInputField {
  text-align: right;
  margin: 10px;
  font-size: 16px;
  padding: 10px;
}

.textInputField-english {
  text-align: left;
  width: 100%;
  font-size: 16px;
  padding: 10px;
}
.post {

  border-style: solid;
  border-color: gray;
  border-radius: 25px;
  max-width: 600px;
  margin: auto;
  text-align: right;
  padding: 25px;
  margin-top: 30px;
}

/* Loading Circle */
.centered {
  width: fit-content;
  margin: auto;
  padding: 20px;
}

#posts {
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer {
  font-family: 'Fondamento', cursive;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(158, 187, 241);
}
